#formDiv{
    margin: 0 auto;
    width: 60%;
}

body {
    background-color: grey;
}

.form-control {
    border-radius:25px;
}

span {
    color: red;
}

form {
    margin-left:20px;
}

.navbar {
    background-color: #FDA50F;
}

.container {
    margin-left : 100px !important;
    margin-top : 75px;
    padding-right : 0 !important;
}


