#formDiv{
    border: 0.5px solid black;
    margin: 0 auto;
}

.headerForm{
    align-items: center;
}

#avatar{
    border-radius:50%;
    width:100px;
    height:100px;
}

body {
    background-color: grey;
}

.form-control {
    border-radius:25px;
}
span {
    color: red;
}

