#formDiv{
    margin: 0 auto;
    width: 60%;
}

body {
    background-color: grey;
}

.form-control {
    border-radius:25px;
}

span {
    color: red;
    font-size : 13px;
}

form {
    margin-left:20px;
}

.navbar {
    background-color: #FDA50F;
}

.container {
    margin-left : 100px !important;
    margin-top : 75px;
    padding-right : 0 !important;
}

h1{
    color:#4e4b4c;
}
p{
    color:#7b7879;
}

.btn-primary{
 width: 100%;
 background-color: orange !important;
 border: orange !important
}

